a {
  text-decoration: none;
}

/* HOME PAGE */
.navbar-brand {
  font-weight: 500;
  color: rgb(202, 118, 79);
}

.navbar {
  background-color: rgb(67, 165, 165);
}

.main-section-container {
  width: 75rem;
  margin: 0 auto;
}

.slider-image {
  width: 60rem;
  height: 35.2rem;
  border-radius: 0.5rem;
}

/* Footer */

footer {
  background-color: #e6e8f8;
  margin-top: 10rem;
}
.about {
  width: 75rem;
  margin: 0 auto;
  display: flex;
}

.footer-list {
  list-style: none;
}

.logo {
  font-weight: bold;
}

/* ABOUT ME PAGE */

* {
  box-sizing: border-box;
}

.profile-photo {
  width: 300px;
  height: auto;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.about-section {
  width: 100%;

  padding: 3rem;
  text-align: center;
}

.profile-summary {
  margin: 0 4rem;
}

.social-icons {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

/* GALLERY */

.col {
  overflow: hidden;
}

.gallery-image {
  width: 100%;
  height: 20rem;
  /* object-fit: cover; */
}

.in-row {
  height: 20rem;
  margin-bottom: 1.5rem;
}

.gallery-container {
  overflow: hidden;
}

/* BLOG */

/* Main container */
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Main content area */
.main-content {
  width: 70%;
  margin-right: 2rem;
}

/* Blog post styling */
.post {
  margin-bottom: 20px;
}

.date {
  font-style: italic;
}

/* Sidebar styling */
.sidebar {
  width: 30%;
  background-color: #f9f9f9;
  padding: 20px;
}

.categories ul,
.latest-comments ul {
  list-style: none;
  padding: 0;
}

.categories li,
.latest-comments li {
  margin-bottom: 10px;
}

/* BLOG */
.blog-card {
  margin-right: 2rem;
  margin-top: 1.5rem;
}

/* Responsive layout */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .main-content,
  .sidebar {
    width: 100%;
  }
}
